@font-face {
  font-family: font;
  src: url(SF-Pro.ttf);
}

body {

  flex-direction: row;
  justify-content: center;
  background-color: white;
  padding: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  height: 100%;
  width: 100%;
  font-family: font;
  justify-items: center;
  align-items: center;
}

html {
  height: 100%;
  font-family: font;
}

h1 {
  color: black;
  text-align: center;
  font-size: xx-large;
}


header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  height: 50px;
  width: 100%;

}

.header_btn {
  background-color: white;
  text-align: center;
  vertical-align: center;
  color: black;
  margin: 0px;
  border: 0px;
  height: 50px;
  width: 175PX;
  font-size: 25px;
  transition-duration: 0.7s;
  z-index: 2;


}

.header_btn:hover {
  height: 70px;
  font-size: 27px;
  background-color: #272727;
  font-weight: bold;
  color: white;
}




P {

  font-size: 20PX;
  color: red;
  text-align: center;
}



footer {
  position: absolute;

  height: 100px;
  width: 100%;
  text-align: center;
  background-color: white;


}
a{
  display: block;
 margin: 0 auto;
 width: 100vw;
 text-align: center;
}

.footertext {


  position: absolute;
  top: 15%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: black;
  margin: 2%;
}

.footertext1 {


  position: absolute;
  top: 15%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: black;
  margin: 2%;
}

.footertext2 {


  position: absolute;
  top: 15%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: black;
  margin: 2%;
}

.footertext3 {


  position: absolute;
  top: 15%;
  left: 80%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: black;
  margin: 2%;
}