@font-face {
  font-family:font ;
  src: url(SF-Pro.ttf);
}

HTML{
  font-family:font ;

}
body 
{

flex-direction: row;
justify-content: center;
background-color: white;
padding:0px;
margin-top:0px;
margin-left: 0px;
margin-right: 0px;
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    background-color:white;
    height: 50px;
    width: 100%;
    
}

.header_btn
{
    background-color: white;
    text-align: center;
    vertical-align: center;
    color:black ;
    margin: 0px;
    border: 0px;
    height: 50px;
    width: 175PX;
    font-size: 25px;
    transition-duration: 0.7s;
    z-index: 2;
   
  
}

.header_btn:hover
{
    height: 70px;
    font-size: 27px;
    background-color: #272727;
    font-weight: bold;
   color: white;
}

.cntr
{
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;

}

.fill
{
width: 25px;
background-color: white;
vertical-align: center;
color: white;
margin: 0px;
border: 0px;
height: 50px;   
font-size: 25px;

}
.containerwhite {
    position: relative;
    text-align: center;
    color: white;
    background-color: white;
    width: auto;
    height: 712px;
  }
  .containerblackairpods {
    position: relative;
    text-align: center;
    color: white;
    background-color: black;
    width: auto;
    height: 721px;
  }

  .mezera {
    background-color:lightgray;
    height: 20px;
    
    }
    .centeredblack {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
        color:white;
        
      }
      
      
    .underblack
{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 27px;
    color:white;

}
.koupitpods {

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color:blue; 

}
.PodsMax {

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color:black; 
}

.cena{


  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color:black;
}

.koupit{

  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color:blue; 


}

.AirPods3 {

  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color:black;   

}

.gen3 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color:black;  


}

.PROMAX{
  
  
  width: 90%;
  height: auto;
  margin: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.AirPodsIMG{

  
  width: 100%;
      height: auto;
  margin: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer
{
    position:absolute;
    
    height: 100px;
    width:100%;
    text-align: center;
    background-color:white;
    
    
}

.footertext{


    position: absolute;
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color:black;
    margin: 2%;
}

.footertext1{


    position: absolute;
    top: 15%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color:black;
    margin: 2%;
}

.footertext2{


    position: absolute;
    top: 15%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color:black;
    margin: 2%;
}

.footertext3{


    position: absolute;
    top: 15%;
    left:80%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color:black;
    margin: 2%;
}

/*mobyl*/
@media screen and (max-width:575px){
  header
  {
      display: flex;
      flex-direction: row;
      justify-content: center; 
      background-color:white;
      height: 50px;
      width: 100%;
      margin: 0px;
  }
  
  .header_btn
  {
      background-color: white;
      text-align: center;
      vertical-align: center;
      color:black ;
      margin: 0px;
      border: 0px;
      height: 50px;
      width: 85PX;
      font-size: 25px;
      transition-duration: 0.7s;
      z-index: 2;
      margin: 0px;
    
  }
  
  .header_btn:hover
  {
      height: 70px;
      font-size: 20vw;
      background-color: #272727;
      font-weight: bold;
     color: white;
     margin: 0px;
  }

  .AirPodsIMG{

  
    width: 100%;
      height: auto;
    margin: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .PODS{
  
  
     width: 100%;
      height: auto;
    margin: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  .containerwhite {
    position: relative;
      text-align: center;
      color: white;
      background-color: white;
      width:100%;
      height: 313px;
      margin: 0px;
  }
  .containerblackairpods {
    position: relative;
      text-align: center;
      color: black;
      background-color: black;
      width:100%;
      height: 416px;
      margin: 0px;}


  .PROMAX{
  
  
    width: 100%;
    height: auto;
    margin: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }












  .centeredblack {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color:white;
    
  }
  
  
.underblack
{
position: absolute;
top: 25%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 20px;
color:white;

}
.koupitpods {

position: absolute;
top: 35%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 20px;
color:blue; 

}
.PodsMax {

position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 70px;
color:black; 
}

.cena{


position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 20px;
color:black;
}

.koupit{

position: absolute;
top: 80%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 20px;
color:blue; 


}

.AirPods3 {

position: absolute;
top: 15%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 70px;
color:black;   
text-align: center;
}










  footer
{
    position:absolute;
    
    height: 100px;
    width:100%;
    text-align: center;
    background-color:white;
    
    
}

.footertext{


    position: absolute;
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color:black;
    margin: 5%;
    
}

.footertext1{


    position: absolute;
    top: 15%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color:black;
    margin: 5%;
    
}

.footertext2{


    position: absolute;
    top: 15%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color:black;
    margin: 5%;
   
}

.footertext3{


    position: absolute;
    top: 15%;
    left:80%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color:black;
    margin: 5%;
     
}
}